<!-- jinja2 템플릿 언어를 사용함 -->

<!-- 기본 구조 상속 -->
{% extends "index.html" %}
{% block contents %}
<div class="otherpage-contents">
    <h3 class="name">{{template.user_list[template.user_id_list[template.selected_follower.name]]}}님의 마이페이지</h3>
    <ul class="products">
        <li class="first"><span class="product-name">물품</span><span class="price">가격</span></li>
    {% for product in template.all_Products %}
        {% if template.selected_follower.name==product.user_id %}
            <li>
                <span class="product-name"><a href="/product-info/{{product.id}}" class="product-info">{{product.name}}</a></span>
                <span class="price">{{product.price}}</span>
        
            </li>
        {%endif%}
    {% endfor %}

    <ul class="follows">
        <li class="follow-list first">
            <span class="follow-name">유저</span>
        </li>
        {% for ID in template.selected_follower.followerlist %}
            <li class="follow-list">
                <span class="follow-name"><form action="/GotoFollower"><input type="submit" value={{ID}} name="ID" style="background:none;border:none;cursor:pointer;">{{ID}}</input></form></span>
            </li>
        {% endfor %}
    </ul>


</div>
{% endblock %}